#screen {
  width: 300px;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: right;
  padding: 10px;
  font-size: 35px;
}

#btn-container {
  height: 270px;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  height: 50px;
  width: 70px;
  border-radius: 10px;
  font-size: 16px;
}

#main-container {
  width: 320px;
  padding: 10px;
  border: 1px solid chocolate;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

#clr {
  height: 50px;
  width: 300px;
  border-radius: 10px;
}

.nmbr {
  background-color: chocolate;
  color: white;
}
#clr {
  background-color: red;
  color: white;
}

#equal {
  background-color: chocolate;
  color: white;
}

.opr {
  background-color: coral;
}
